html {
  font: 100%/1 sans-serif; /* the /1 is the line-height, could also type in 'normal'*/

  }

body {
  width: 90%; /* overall width*/
  max-width: 60em; /*max width*/
  margin: 0 auto; /* top and bottom, right and left */
  }

article {
  width: 90%
  margin: auto;
}
/* Break point (for line length) 1 / small */
@media (min-width: 50em) {

body {
  font-size: 107.14%;
  }

main{
  margin: 0 8%;
}

}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: .5em;
  margin-bottom: .5em;
  }

/* typographic styles */

/* paragraph / foundation */

/* 1.4 measure
1/2: .7, 1.4
1/4: .35, .7, 1.05, 1.4
1/5: .28, .56, .84, 1.12, 1.4 */

p {
  font: normal 1em/1.4 "Arcon", sans-serif;
  margin-bottom: .84em 0;
  margin-top: .84em 0;
}

/* headings / foundation */


h1 {
  font: bold 1em/1.4 "Arcon", sans-serif;
  font-size: 3em;
  line-height: 1.2; /* 2.8em + .56 = 3.36 / 2.8 = 1.2 */
  margin-bottom: 0.14em;
  margin-top: .28em;
}
/* 1.68em + .28 = 1.96 / 1.68 = 1.16666667 */
h2 {
  font: bold 1em/1.4 "Times New Roman", serif;
  font-size: 1.3em;
  line-height: 1.16em;
  margin-top: .28em;
  margin-bottom: .28em;
}

body {
    background-color: #98e6e6;
}



